<div data-controller="toggle" class="max-h-screen bg-gray-900 h-screen">
  <%= render 'admin_navbar' %>
  <div class="flex">
    <%= render 'dashboard/sidebar' %>
    <%= render 'dashboard/main' %>
  </div>
</div>